.formContainer {
  width: 45%;
  margin-top: -5%;
}

.addToPlayList {
  font-family: fantasy;
  font-weight: bolder;
  font-size: 1.4em;
  padding: 5%;
}

.infoSubButton {
  display: inline;
  font-size: 1.4em;
  font-family: san-serif;
}
